@font-face {
	font-family: weblysleekuil;
	src: url(fonts/weblysleekuil.ttf);
}
@font-face {
	font-family:Cabin;
	src: url(fonts/Cabin-Regular.ttf);
}
body{
	font-family: weblysleekuil;
	text-align: center;
}
html{
	text-align: center;
	height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* slider con parallax */
.parallax-car {


    /* Full height */
    height: 100%; 
    width: 100%;
    position: absolute;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wp-inicio{
	height: 100%;
}
#carousel-parallax{
	margin-top: -20px;
	height: 100%;
}
.overlay-parallax{
 	bottom:0;   
    left:0;
    width:100%;
    height: auto;
    background-color: rgba(0,0,0,0.25);
    color:white;
    text-align: center;
}
.carousel,
.item,
.active {
    height: 100%;
}


.carousel-inner {
    height: 100%;
    overflow: auto;
}


.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 0% !important;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;

    background-size: cover;
}
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}
/*------------------------------parallax carousel-----------------
*/
.navbar-brand img{
	height: 50px;
	margin-top: -10px;
}
#solo-768{
	height: 50px;
	margin-top: -10px;
	display: none;
}
.fl{
	display: none;
}
.tel{
	color: white;
}
.fade-img{
}
span a.tel{
	color: #A5A5A5;
}
/*Dentro del header*/
.heaven{
	width: 100%;
	text-align: right;
	color: white;
	font-size: 14px;
	font-weight: bold;
	display: none;

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color:white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color: #B0D2EC;
}
.heaven p{
	color:white;
}
#heaven{
	background-color: #1A1A1A;
	height: 60px;
	z-index: 1;
	color: white;
}
#loc{
	margin-right: 110px;
}
#dir{
	line-height: 0;
}

.navbar-default{
	background-color: #FCFCFC;
	font-size: 20px;
}
.navbar-header{
	height: 70px;
}
.menu{
	position:fixed;
	opacity: .9;
	width: 100%;
	z-index: 100;
}
#menu-items{
	margin-top: 20px;
	font-weight: 700;
}
.dropdown-menu{
	text-align: center;
}
li.dropdown, li#r-border{
	border-right: 1px solid #E0E0E0;
}

/*dentro de content*/

.content{
	margin-top:-20px;
}
#mycarousel{
	font-family: Cabin;
}

#taller{
	text-align: center;
	color: white;
	width: 100%;
	background-color: #001234;
	font-family: Cabin;
	height: 100px;
	clear: both;
	padding: 0;
}
#taller h1{
	position: static;
	margin-top: 30px;
}
.container{
	padding: 0;
	width: 80%;
	font-family: Cabin;
	font-weight: bold;

}
#fade-ser{
	visibility: hidden;
	margin-top:20px;
}
#fade-ser h3{
	font-size: 20px;
	height: 50px;
}
.rounded-div{
	width: 100px;
	height: 100px;
	border-radius: 200px;
	background-color:#123; 
	padding: 0;
	margin:0 auto;
	cursor: default;
}
.rounded-div i{
	color: white;
	font-size: 65px;
	margin-top: 15px;
	cursor: default;
	text-align: center;
}
.rounded-div i:hover{
	font-size: 70px;
	cursor: default;
	transition: all 1s ease-out;
}
#btn-ser{

	background-color: #707070;
	font-size: 12px;
	width: 70px;
	text-align: center;
	border: none;
	margin-top:10px;
}
#btn-ser:hover{
	background-color: #545454;
	transition: all 1s ease-out;
}
.modal-dialog{
	margin-top: 80px;
	z-index: 100;
}
.modal-backdrop.in{
	z-index: -1;
}
.modal-body{
	text-align: center;
}
.modal-img{
	width: 50%;
	height: 300px;
	margin: 0 auto;
}
.modal-img img{
	border: 1px solid #707070;
	width: 100%;
}
.modal-img iframe{
	width: 100%;
	height: 100%;
}
#blue{
	font-family: Cabin;
	font-weight: bold;
	background-color: #123;
	text-align: left;
	height: 220px;
	margin-top:50px;
	position: relative;
	z-index: -10;
}
#blue h1{
	color:white;
	margin-left: 30px;
}
#piezas{
	background-color: #123;
	color: white;
	width: 100%;
}

.white{
	color:white;
	font-weight: normal;
}
#horario{
	background-color: #123;
	text-align: center;
	float: right;
}
#imagenes{
	padding:0; 
	margin-bottom: 30px;
	visibility: hidden;
	position: relative;
	z-index: -10;
}
.omo{
	padding: 0;
	width: 100%;
}
#no-padd{
	padding:0;
}
/*--------Social--------*/
#social{
	height: 100px;
	clear: both;
}
.circulo-rs{
    border-radius:250px;
    width: 35px;
    height: 35px;
   color:white;
    font-size: 20px;
    background-color: #595959;
    margin:0 auto;
 }
 .circulo-rs i{
 	  color:white;
  	margin-top: 8px;
  	text-decoration: none;
 }
#fb:hover{

    background-color: #1B5FD5;
    transition: all 1s ease-out;
}
#tw:hover{

    background-color: #0AB6FF;
    transition: all 1s ease-out;
}
#go:hover{

    background-color: #FF1500;
    transition: all 1s ease-out;
}
#in:hover{

    background-color: #00A0F0;
    transition: all 1s ease-out;
}  
#dv-sc{
  margin:0 auto;
  float: none;
  margin-top: 30px;
} 
/*----- footer-------*/

footer{
	height: 100px;
	background-color: #1E1E1E;
	clear:both;
}
#info-footer, #redes-footer {
	text-align: left;
}
#info-footer p, #redes-footer p, #solide-foo p{
	color:white;
	margin-top: 20px;
}
#logo-foo{
	height: 50px;
	margin-top: 20px;
}

#solide-foo p b{
	color: red;
}
#solide-foo a img{
	width: 60px;
}
#log-foo{
	text-align: left;
}
#bottom-bar{
	background-color: #000;
	height: 60px;
	width: 100%;
}
#bottom-solide{
	text-align: left;
	visibility: hidden;
}
#bottom-solide img{
	height: 50px;
}
#bottom-love{
	text-align: right;
	margin-top: 10px;
	height: 50px;
	visibility: hidden;
}
#bottom-love p{
	color:white;
}
#bottom-love p i{
	color:#CB0023;
}
/*-------------Contacto------------------*/

/*-------------parallax------------------*/
.parallax {
    /* The image used */
    background-image: url('img/gallegos-parallax.jpg');

    /* Full height */
    height: 90%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    z-index: -100;
}
.parallax2 {
    /* The image used */
    background-image: url('img/footer9.jpg');

    /* Full height */
    height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
}
.parallax3 {
    /* The image used */
    background-image: url('img/footer11.jpg');

    /* Full height */
    height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
}
/*-------------Contacto-2------------------*/
.wrapper#img-up{
	margin-top: -20px;
	display: inline-block;
	width: 100%;
	position: relative;
	height: auto;	
}
.wrapper#img-up img{
	width: 100%;
}
.overlay {

	position: absolute;
	bottom:12.9%;
	left:0;
	width:100%;
	height:100px;
	background-color: rgba(0,0,0,0.70);
	color:white;
	text-align: center;
}
.overlay p{
	color:white;
	width: 97%;
	margin: 0 auto;
	font-size: 20px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: #001234;
}
/*--------------------------------------------------Scroller--------------------------------------------------
*/

#scroller a span, #scroller2 a span, #scroller3 a span, #scroller4 a span {
	position: absolute;
	left: 50%;
	bottom:0;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}
#scroller a span:hover, #scroller2 a span:hover, #scroller3 a span:hover, #scroller4 a span:hover {
	opacity: .5;
	transition: all .5s ease-out;
}
#scroller a span::before, #scroller2 a span::before, #scroller3 a span::before,#scroller4 a span::before{
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/*----------------------------------------------------Scroller--------------------------------------------------
*/
.wrapper #cinturon, .wrapper2 #cinturon{
	width: 100%;
	height: 120px;
	padding: 0;
	margin-top: -20px;
	background-color: #001234;;
}
.wrapper2 #cinturon{
	margin-top: 0;
}
.wrapper #cinturon h1#contactanos, .wrapper2 #cinturon h1#contactanos{
	color:white;
	font-family: Cabin;
	line-height: 110px;
	font-size: 50px;
	font-weight: 600;
	visibility: hidden;
}
.wrapper .container{
	text-align: justify;
	min-width: 250px;
}
.container p{
	font-weight: normal;
}
#boton{
	text-align: center;
}
#submit, #ver-mapa{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	background-color: #123;
	border: none;
}
#submit:hover, #ver-mapa:hover{
	background-color: #707070;
}
#small-cont{
	visibility: hidden;
	margin-top: 30px;
	width: 33.3%;
	background-color: #FAFAFA;
	height: 410px;
	border:3px dotted #EDEDED;
	max-width: 350px;
}
#first{
	margin-top:40px;
}
#small-cont b{
	color:#123;
	margin-top:20px;
}

#small-cont p a{
	color: black;
}
#redes-sociales{
	margin-top: 60px;
}
#social{
	text-align: center;
}
.wrapper{
	padding: 0;
	font-family: Cabin;
}
.wrapper #map{
	visibility: hidden;
	width: 100%;
	height: 450px;
	padding: 0;
	border:3px dotted #EDEDED;
	border-bottom: none;
	margin-bottom: 1px;
	min-width: 270px;
}
#map{
	visibility: hidden;
}
.pc{
	display: block;
}
.tablet{
	display: none;
}
.phone{
	display: none;
}
/*-------------End Contacto------------------*/
/*-------------Conócenos------------------*/
#acerca-de, #mision, #vision{
	text-align: center;
	margin-top: 20px;
	visibility: hidden;
}
 #valores{
 	text-align: center;
	visibility: hidden	
 }
 #mision, #vision{
 	margin-bottom: 30px;
 }

#acerca-de p, #mision p, #vision p{
	text-align: justify;
}
.img-fade-gal{
	visibility: hidden;
}
/*-------------Conócenos------------------*/
/*-------------Tamaños------------------*/
@media (min-height: 1000px) {
	.overlay{
		bottom: 50;
	}
}

@media (max-width: 1025px) {
	.overlay {
	}
}
@media (max-width: 950px) {

	#btn-ser{
		margin-top:10px;
	}

}
@media (max-width: 945px) {
		#btn-ser{
		margin-top:-30px;
	}
}
@media (max-width: 842px) {

	#piezas h1{
		font-size: 30px;
	}
	#blue{
		text-align: center;
	}
	.map{
		height: 350px;
	}
	#redes-sociales{
	margin-top: 30px;
	}
	#btn-ser{
		margin-top:-30px;
	}
}
@media (max-width: 768px) {
	.navbar-brand img{
		display: none;
	}
	#solo-768{
		display: inline-block;
	}
	.parallax-car, .parallax, .parallax2, .parallax3 {
    background-attachment:scroll;
	}

	.navbar-default{
		background-color: #1A1A1A;
	}
	.navbar-default .navbar-nav > li > a{
		color:white;
	}
	.navbar-default .navbar-nav > li > a:hover{
		color:#B0D2EC;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: white;
	}
	.navbar-default{
		border:none;
	}
	#info-footer, #redes-footer {
		text-align: center;
	}
	 #bo
	.map{
		height: 400px;
		width: 80%;
		margin-top: 15px;
	}
	#input-name, #input-email, #input-subject, #input-message{
		width: 80%;
		height: 40px;
		font-size: 16px;
	}
	#input-message{
		height: 100px;
	}
	#input-submit{
		background-color: #707070;
		border: none;
		font-weight: 700;
		width: 80%
	}
	#small-cont{
		width: 100%;
		max-width: none;
		margin-bottom: 20px;
		min-width: 250px;
		text-align: center;
		border-width: 1px;
	}
	.wrapper #map{
		border-width: 1px;
	}
	#redes-sociales{
	margin-top: 80px;
	}
	.pc{
	display: none;
	}
	.tablet{
		display: block;
	}
	.phone{
		display: none;
	}
	.overlay {
	}
	#scroller{
		top:0;
	}
	#bottom-solide, #bottom-love{
		width: 50%;
		padding: 0;
		visibility: visible;
	}
	#log-foo{
		text-align: center;
	}
	.modal-img{
		width: 70%;
		height: 300px;
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	footer{
		height: 320px;
	}
	#bottom-solide, #bottom-love{
		visibility: hidden;
	}
}

@media (max-width: 712px) {

	#taller h1{
		font-size: 20px;
		line-height: 4;
	}
}
@media (max-width: 546px) {
	 .overlay {
		height: 150px;
		}
}
@media (max-width: 526px) {

	.overlay-parallax{
  		height:200px;
  	}
}
@media (max-width: 479px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color:#EDEDED;
	}
	.wrapper #cinturon, .wrapper2 #cinturon{
		height: 90px;
		margin-bottom: 20px;
	}
	.wrapper #cinturon h1#contactanos, .wrapper2 #cinturon h1#contactanos{
		line-height: 110px;
		font-size: 30px;
	}
	#escribe{
	}
	#escribe h1{
		font-size: 18px;
	}
	#submit, #ver-mapa{
		width: 95%;
	}
	#cinturon{
		margin-top: -20px;
	}
	.modal-img{
		width: 80%;
		height: 200px;
		margin: 0 auto;
	}
}
@media (max-width: 415px) {
	
	.pc{
	display: none;
	}
	.tablet{
		display: none;
	}
	.phone{
		display: block;
	}
	#nuestros-servicios{
		font-size: 24px;
	}
}
@media (max-width: 388px) {

	#piezas h1{
		font-size: 20px;
	}
	#piezas{
		padding: 0;
		width: 90%;
	}
	#blue{
		padding: 0;
	}
	
	#taller h1{
		font-size: 18px;
	}
	#submit{
		width: 80%;
	}
	footer{
		height: 340px;
	}
	#bottom-bar{
		height: 110px;
	}
	#bottom-solide, #bottom-love{
		float: none;
		text-align: center;
		width:100%;
	}
	.overlay p{
	color:white;
	width: 97%;
	margin: 0 auto;
	font-size: 12px;
}
}
@media (max-width: 330px) {
	#piezas h1{
		margin-left: 10px;
	}
	#taller h1{
		font-size: 15px;
	}

	#dv-sc{
		width: 100%;
	}
	#cinturon{
		z-index: -100;
	}
	.overlay {
		height:135px;
	}
	#submit, #ver-mapa{
		font-size: 12px;
	}
	#nuestros-servicios{
		font-size: 20px;
	}
}
@media (max-width: 290px) {

	#piezas h1{
		font-size: 15px;
	}
	#horario{
		padding: 0;
	}
	#blue{
		padding:0;
	}
	.white{
		font-size: 10px;
	}
	.col-xs-6 .white{
		width: 110px;
		margin-left: -20px;
	}
	#contact h1{
	font-size: 22px;
	}

	#input-name, #input-email, #input-subject, #input-message{
		width: 90%;
		border-radius: 10px;
		height: 30px;
		font-size: 16px;
	}
	#input-email, #input-subject, #input-message, #input-submit{
		margin-top:20px;
		font-size: 16px;
	}
	#input-message{
		height: 120px;
	}
	#input-submit{
		font-weight: 700;
		width: 90%
	}
	#contact{
		height:730px;
	}

	#submit, #ver-mapa{
		font-size: 10px;
		width: 99%;
	}
}
@media (max-width: 220px) {
	.white{
		font-size: 9px;
	}
	.col-xs-6 .white{
		width: 90px;
	}

	.map{
		height: 200px;
	}
	#solo-768{
		height: 35px;
	}
}
@media (min-height: 800px){

	.overlay{
		bottom: 121px;
	}
}
@media (min-height: 1333px){

	.overlay{
		bottom: 150px;
		height: 200px;
	}
}
@media (min-height: 1600px){

	.overlay{
		bottom: 180px;
	}
}
@media (min-height: 1900px){

	.overlay{
		bottom: 210px;
	}
}

