
#btn-car, #btn-car2, #btn-car3{
	background-color: #001234;
	border: none;
}
.tit-car{
	color: white;

}

#car-small-btn{
	display: none;
	background-color: #001234
}
.text-car{
	font-size: 18px;
	color:#fff;
}
p{
	color: black;
}
.carousel-control.right, .carousel-control.left{

	background-image: none;
	background-color: none;
	z-index: 50;
}

@media (max-width: 945px) {

	.container{
		margin-top: 40px;
	}
  
}

@media (max-width: 810px) {

	.container{
		margin-top: 60px;
	}
  
}
@media (max-width: 768px) {

	.tit-car{
		font-size: 22px;

	}

  	#btn-car, #btn-car2, #btn-car3{
  		width: 100px;
  		font-size: 12px;
  	}
}


@media (max-width: 525px) {
  
  	.text-car{
  		display: none;
  	}
  	.container{
  		margin-top: 0;
  	}
}
@media (max-width: 470px) {
  

  	.container{
  		margin-top: 30px;
  	}
  	
}
@media (max-width: 375px) {
  
	.tit-car{
		font-size: 18px;

	}
  	.container{
  		margin-top: 30px;
  	}

  	
}
